
.header{

}

.container{
    display: flex;
    gap: 30px;
    padding: 20px;
    align-items: flex-start;
}

.graph-wrapper{
    flex: 0 0 65%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.graph-card{
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 12px;
}

.table-wrapper{
    flex: 0 0 35%;
}

.table{
    width: 100%;
    border-collapse: collapse;
    color: white;
}

.table td, .table th{
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left;
}

.table thead{
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.2);
}

.button-main{

}

.input-main{
    color: black;
}
