
.header{

}

.container{
    display: flex;
    flex-direction: row;
}

.grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 16px;
    padding: 16px;
    width: 100%;
    height: 400px;
}

.table{

}

.button-main{

}

.input-main{
    color: black;
}
